@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;/* makes sure padding and border are included in the width and height of elements */ 

    
}
body{
    font-family: 'Roboto', sans-serif;
    display : flex; /* puts everything in a row goes horizontal */
    flex-direction: column; /* puts everything in a column goes vertical */
    align-items: center; /* centers everything horizontally */
    justify-content: center; /* centers everything vertically */
    height: 100vh; /* makes the body take up the whole screen */
    overflow: hidden; /* hides the scroll bar */
    margin:0;

}